.irma-web-center-child {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}
.irma-web-form {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 262px;
  max-width: 400px;
  height: 480px;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .irma-web-form {
    min-height: 440px;
  }
}
.irma-web-form .header {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: relative;
  flex: 0 0 auto;
  padding: 2em;
  margin: 0 10px;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
@media screen and (max-width: 768px) {
  .irma-web-form .header {
    padding: 1em;
  }
}
.irma-web-form .header p {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #4C4C4C;
}
@media screen and (max-width: 768px) {
  .irma-web-form .header p {
    font-family: "Roboto", Tahoma, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #4C4C4C;
  }
}
.irma-web-form .header .helper {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: calc(100% - 20px);
  background-color: #484d58;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.irma-web-form .header .helper p, .irma-web-form .header .helper a {
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: white;
}
.irma-web-form .header .helper p {
  margin: 1em;
  text-align: center;
}
.irma-web-form .header > *:not(.helper) {
  transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.4s ease;
  -webkit-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}
.irma-web-form .header .helper {
  transform: translateX(120%);
  -webkit-transition: -webkit-transform 0.4s ease;
  -webkit-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}
.irma-web-form .header.show-helper > *:not(.helper) {
  transform: translateX(-120%);
}
.irma-web-form .header.show-helper .helper {
  transform: translateX(0%);
}
.irma-web-form .content {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}
.irma-web-form .content .centered {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: auto;
  text-align: center;
}
.irma-web-form .content .centered img, .irma-web-form .content .centered canvas {
  cursor: none;
}
.irma-web-form .content p {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #7f7f7f;
  margin: 1em 4em;
}
@media screen and (max-width: 768px) {
  .irma-web-form .content p {
    margin: 1em 2em;
  }
}
.irma-web-form .content a {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #4C4C4C;
  text-decoration: underline;
  cursor: pointer;
}
.irma-web-form .content a:hover {
  color: #00b1e7;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}
.irma-web-button {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #4C4C4C;
  display: inline-block;
  padding: 2.5em;
  background-color: #00b1e7;
  border: 1px solid #008ab4;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}
.irma-web-button:active {
  transform: scale3d(0.99, 0.99, 1);
  transform-origin: center;
}
.irma-web-button:focus {
  outline: 0;
}

.irma-web-logo {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  height: 40px;
  width: 50px;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 874.03 698.53'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M862.91 396c-10-29.63-35-105.47-59.11-177.57C777.6 140 752.25 65 741.46 32.75 732.8 6.86 707.69-6 681.65 2.69Q556.52 44.33 431.44 86.13q-199.26 66.5-398.53 133c-26.09 8.68-38.86 33.59-30.23 59.66 9.63 29.09 19.47 58.1 29.23 87.15Q82 515.12 132 664.3c9.39 28.05 33.89 40.54 62.07 31.13q32-10.7 64-21.43l401.82-134.06q90.51-30.2 181-60.33c23.41-7.8 37-29.2 32.12-52.32-2.26-10.69-6.49-21-10.13-31.34' fill='%23fefefe'/%3E%3Cpath d='M798.92 357.78c8.72-25 17.24-49.46 25.75-73.89l.92-.08c8.25 24.55 16.21 49.08 24.57 74z' fill='%2303b1e5'/%3E%3Cpath d='M357.81 311.5v-55.86h6.11c12.16.05 24.33-.26 36.47.25s21.6 7.7 24.91 18.37c3.49 11.26 1.49 21.44-7.23 29.77a27.47 27.47 0 0 1-18.68 7.36c-13.64.36-27.3.11-41.58.11z' fill='%2304b1e5'/%3E%3Cpath d='M730.64 430.93h26.94c5.31 0 11.95 1.69 15.58-.84s4.2-9.32 6-14.3c2.24-6.27 4.16-12.67 6.65-18.83a6.06 6.06 0 0 1 4.45-3.16q34.25-.3 68.49 0c1.44 0 3.79 1.09 4.18 2.21 3.64 10.36 7.87 20.65 10.13 31.34 4.89 23.12-8.71 44.52-32.12 52.32q-90.51 30.13-181 60.33L258 674q-32 10.68-64 21.43c-28.18 9.41-52.68-3.08-62.07-31.13Q82.1 515.08 31.91 365.94c-9.76-29.05-19.6-58.06-29.23-87.15-8.63-26.07 4.14-51 30.23-59.69q199.27-66.45 398.53-133 125.1-41.7 250.21-83.41c26-8.66 51.15 4.17 59.81 30.06q31.06 92.85 62.34 185.63a16.75 16.75 0 0 1-.21 12q-35.79 97.52-71.28 195.18c-.55 1.52-.97 3.09-1.67 5.37zm-219.1-212.31v211.93h41.58v-120a11.91 11.91 0 0 1 3.74 4.68c11.63 22.86 23.31 45.7 34.79 68.64 1.48 2.95 3.09 4.16 6.45 4 6.65-.29 13.33-.2 20 0 2.82.07 4.47-.69 5.81-3.4 8-16.14 16.13-32.17 24.25-48.22q6.57-13 13.2-26l1.18.28v120.01h41.34V218.62c-12 0-23.65.18-35.29-.1-4.05-.1-6.16 1.14-7.93 4.87-15 31.59-30.27 63.07-45.45 94.58-2.28 4.73-4.62 9.43-7.23 14.75-1-1.83-1.56-2.82-2.06-3.84q-25.86-53.28-51.76-106.52c-.74-1.52-2.56-3.55-3.91-3.58-12.81-.27-25.62-.16-38.71-.16zM429.8 339.75c1.1-.62 1.51-.91 2-1.1 41.59-17.07 43.59-63.13 27.37-89.32-13.35-21.53-33.77-30.38-58.3-30.64-27-.3-54-.08-81-.06-1.27 0-2.55.21-3.9.33v211.57h41.54V346.4c8.49 0 16.48.24 24.44-.09 3.93-.16 5.88 1.17 7.59 4.7 12 24.89 24.37 49.64 36.39 74.53 1.89 3.9 3.88 5.7 8.56 5.53 12.32-.42 24.66-.13 37-.15 1.56 0 3.11-.2 5.46-.36zM265.91 430.7V219H224.8v211.7z' fill='%2301b1e5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  color: transparent;
}

.irma-web-qr-code {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: block;
  width: 256px;
  height: 256px;
  background-color: white;
}

.irma-web-loading-animation {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 39px;
  height: 39px;
}
.irma-web-loading-animation * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.irma-web-loading-animation * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: block;
  width: 33%;
  height: 33%;
  background-color: #00b1e7;
  float: left;
  -ms-animation: loading-animation 1.3s infinite ease-in-out;
  -webkit-animation: loading-animation 1.3s infinite ease-in-out;
  animation: loading-animation 1.3s infinite ease-in-out;
}
.irma-web-loading-animation *:nth-child(1) {
  -ms-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.irma-web-loading-animation *:nth-child(2) {
  -ms-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.irma-web-loading-animation *:nth-child(3) {
  -ms-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.irma-web-loading-animation *:nth-child(4) {
  -ms-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.irma-web-loading-animation *:nth-child(5) {
  -ms-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.irma-web-loading-animation *:nth-child(6) {
  -ms-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.irma-web-loading-animation *:nth-child(7) {
  -ms-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.irma-web-loading-animation *:nth-child(8) {
  -ms-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.irma-web-loading-animation *:nth-child(9) {
  -ms-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-ms-keyframes loading-animation {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@-webkit-keyframes loading-animation {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes loading-animation {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.irma-web-waiting-for-user-animation {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 23px;
  height: 39px;
  position: relative;
  background-color: #00b1e7;
  border-radius: 2px;
  -ms-animation: waiting-for-user-animation 2s infinite ease-in-out;
  -webkit-animation: waiting-for-user-animation 2s infinite ease-in-out;
  animation: waiting-for-user-animation 2s infinite ease-in-out;
}
.irma-web-waiting-for-user-animation:before, .irma-web-waiting-for-user-animation:after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
}
.irma-web-waiting-for-user-animation:before {
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 8px;
  border-radius: 1px;
}
.irma-web-waiting-for-user-animation:after {
  width: 4px;
  height: 4px;
  left: 50%;
  bottom: 2px;
  margin-left: -2px;
  border-radius: 50%;
}
@-ms-keyframes waiting-for-user-animation {
  0%, 100% {
    -webkit-transform: scale3D(1.1, 1.1, 1);
    transform: scale3D(1.1, 1.1, 1);
  }
  50% {
    -webkit-transform: scale3D(0.9, 0.9, 1);
    transform: scale3D(0.9, 0.9, 1);
  }
}
@-webkit-keyframes waiting-for-user-animation {
  0%, 100% {
    -webkit-transform: scale3D(1.1, 1.1, 1);
    transform: scale3D(1.1, 1.1, 1);
  }
  50% {
    -webkit-transform: scale3D(0.9, 0.9, 1);
    transform: scale3D(0.9, 0.9, 1);
  }
}
@keyframes waiting-for-user-animation {
  0%, 100% {
    -webkit-transform: scale3D(1.1, 1.1, 1);
    transform: scale3D(1.1, 1.1, 1);
  }
  50% {
    -webkit-transform: scale3D(0.9, 0.9, 1);
    transform: scale3D(0.9, 0.9, 1);
  }
}

.irma-web-checkmark-animation {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 48px;
  height: 39px;
}
.irma-web-checkmark-animation:before {
  content: " ";
  display: block;
  box-sizing: content-box;
  width: 27px;
  height: 15px;
  border: 13px solid #00b1e7;
  border-top: 0;
  border-right: 0;
  transform: translate(0px, 18px) rotate(-45deg);
  transform-origin: left top;
  -ms-animation: checkmark-animation 0.6s 1 ease;
  -webkit-animation: checkmark-animation 0.6s 1 ease;
  animation: checkmark-animation 0.6s 1 ease;
}
@-ms-keyframes checkmark-animation {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  50% {
    height: 15px;
    width: 0;
    opacity: 1;
  }
  100% {
    height: 15px;
    width: 27px;
    opacity: 1;
  }
}
@-webkit-keyframes checkmark-animation {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  50% {
    height: 15px;
    width: 0;
    opacity: 1;
  }
  100% {
    height: 15px;
    width: 27px;
    opacity: 1;
  }
}
@keyframes checkmark-animation {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  50% {
    height: 15px;
    width: 0;
    opacity: 1;
  }
  100% {
    height: 15px;
    width: 27px;
    opacity: 1;
  }
}

/*# sourceMappingURL=irma-web-frontend.css.map */
